body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote, figure {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div > svg {
	position:absolute;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
#_idContainer000 {
	-ms-transform:translate(0.103px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.103px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1080.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.103px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.103px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1919.90px;
}
#_idContainer001 {
	-ms-transform:translate(1762.399px,327.163px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1762.399px,327.163px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:200.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1762.399px,327.163px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1762.399px,327.163px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:279.40px;
}
#_idContainer002 {
	-ms-transform:translate(1113.000px,-82.737px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1113.000px,-82.737px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:876.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1113.000px,-82.737px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1113.000px,-82.737px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:882.00px;
}
#_idContainer003 {
	-ms-transform:translate(1186.000px,258.263px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1186.000px,258.263px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:414.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1186.000px,258.263px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1186.000px,258.263px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:430.00px;
}
#_idContainer004 {
	-ms-transform:translate(1192.059px,391.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1192.059px,391.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:113.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1192.059px,391.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1192.059px,391.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:147.46px;
}
#_idContainer005 {
	-ms-transform:translate(1553.522px,325.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1553.522px,325.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:222.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1553.522px,325.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1553.522px,325.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:287.94px;
}
#_idContainer006 {
	-ms-transform:translate(1180.000px,58.463px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1180.000px,58.463px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:149.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1180.000px,58.463px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1180.000px,58.463px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:107.00px;
}
#_idContainer007 {
	-ms-transform:translate(1665.000px,64.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1665.000px,64.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:149.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1665.000px,64.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1665.000px,64.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:349.00px;
}
#_idContainer008 {
	-ms-transform:translate(1627.199px,166.563px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1627.199px,166.563px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:219.60px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1627.199px,166.563px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1627.199px,166.563px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:390.60px;
}
#_idContainer009 {
	-ms-transform:translate(1749.800px,218.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1749.800px,218.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:156.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1749.800px,218.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1749.800px,218.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:248.46px;
}
#_idContainer010 {
	-ms-transform:translate(-83.308px,-60.796px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-83.308px,-60.796px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:250.70px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-83.308px,-60.796px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-83.308px,-60.796px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:297.80px;
}
#_idContainer011 {
	-ms-transform:translate(0.000px,5.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,5.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:144.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,5.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,5.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:229.00px;
}
#_idContainer012 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:149.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:229.00px;
}
#_idContainer013 {
	-ms-transform:translate(-56.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-56.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:162.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-56.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-56.001px,-9.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:788.00px;
}
#_idContainer014 {
	-ms-transform:translate(-81.768px,687.204px) rotate(355.000deg) skew(0.000deg) scale(20.000,20.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-81.768px,687.204px) rotate(355.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:93.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-81.768px,687.204px) rotate(355.000deg) skew(0.000deg) scale(20.000,20.000);
	transform:translate(-81.768px,687.204px) rotate(355.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:91.76px;
}
#_idContainer015 {
	-ms-transform:translate(-142.501px,-75.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-142.501px,-75.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:315.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-142.501px,-75.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-142.501px,-75.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:408.44px;
}
#_idContainer016 {
	-ms-transform:translate(100.999px,66.079px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(100.999px,66.079px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:77.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(100.999px,66.079px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(100.999px,66.079px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:225.99px;
}
#_idContainer017 {
	-ms-transform:translate(-15.464px,27.815px) rotate(355.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-15.464px,27.815px) rotate(355.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:114.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-15.464px,27.815px) rotate(355.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-15.464px,27.815px) rotate(355.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:112.76px;
}
#_idContainer018 {
	-ms-transform:translate(209.000px,5.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(209.000px,5.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:144.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(209.000px,5.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(209.000px,5.899px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:731.00px;
}
#_idContainer019 {
	-ms-transform:translate(1164.000px,208.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1164.000px,208.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:149.90px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1164.000px,208.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1164.000px,208.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:940.00px;
}
#_idContainer020 {
	-ms-transform:translate(1167.000px,45.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1167.000px,45.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:182.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1167.000px,45.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1167.000px,45.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:778.00px;
}
#_idContainer021 {
	-ms-transform:translate(1166.000px,28.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1166.000px,28.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:213.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1166.000px,28.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1166.000px,28.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:297.84px;
}
#_idContainer022 {
	-ms-transform:translate(1341.628px,441.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1341.628px,441.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1341.628px,441.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1341.628px,441.363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:214.86px;
}
#_idContainer023 {
	-ms-transform:translate(1165.326px,24.981px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1165.326px,24.981px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:208.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1165.326px,24.981px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1165.326px,24.981px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:223.93px;
}
#_idContainer024 {
	-ms-transform:translate(1666.000px,53.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1666.000px,53.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/27.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:176.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1666.000px,53.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1666.000px,53.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:517.30px;
}
#_idContainer025 {
	-ms-transform:translate(-285.000px,613.930px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-285.000px,613.930px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:735.93px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-285.000px,613.930px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-285.000px,613.930px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:718.33px;
}
#_idContainer026 {
	-ms-transform:translate(-0.897px,1031.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-0.897px,1031.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:56.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.897px,1031.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-0.897px,1031.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:1975.98px;
}
#_idContainer027 {
	-ms-transform:translate(-3.399px,14.649px) rotate(357.750deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-3.399px,14.649px) rotate(357.750deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:291.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-3.399px,14.649px) rotate(357.750deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-3.399px,14.649px) rotate(357.750deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:936.66px;
}
#_idContainer028 {
	-ms-transform:translate(540.571px,262.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(540.571px,262.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:405.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(540.571px,262.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(540.571px,262.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:548.57px;
}
#_idContainer029 {
	-ms-transform:translate(534.696px,669.988px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(534.696px,669.988px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:284.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(534.696px,669.988px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(534.696px,669.988px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:571.61px;
}
#_idContainer030 {
	-ms-transform:translate(1631.839px,737.488px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1631.839px,737.488px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:293.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1631.839px,737.488px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1631.839px,737.488px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:281.16px;
}
img._idGenObjectAttribute-1 {
	left:0px;
	position:absolute;
	top:0px;
}
img._idGenObjectAttribute-2 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
